body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f8f8f8;
    color: #333;
    background: #020024;
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 8%, rgba(5, 92, 176, 1) 14%, rgba(0, 212, 255, 1) 46%);
}

nav {
    margin-bottom: 20px;
    background: #444;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    color: #f8f8f8;
}

p {
    color: #f8f8f8;
}
